.custom-dropdown {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  color: white;
}

.custom-dropdown:hover,
.custom-dropdown:focus {
  text-decoration: underline;
  background-color: transparent;
  color: white;
}
